ul.vertical-nav {
   padding: 0;
   margin: 0;
}
ul.vertical-nav a {
   color: #fff;
   list-style-type: none;
   font-weight: 400;
   font-size: var(--text-size-2);
   text-decoration: none;
   transition: color 300ms;
}
ul.vertical-nav a:hover {
   color: #fff9;
   transition: 300ms;
}
ul.vertical-nav a.active {
   font-size: 40px;
   line-height: 0;
   letter-spacing: 0em;
   transition: font-size 300ms;
}
ul.vertical-nav a.active li {
   padding: 36px 10px;
}
ul.vertical-nav a li {
   padding: 20px 10px;
   border-bottom: 1px solid #fff2;
}

@media only screen and (max-width: 1000px) {
   ul.vertical-nav a {
      font-size: 1em;
   }
   ul.vertical-nav a.active {
      font-size: 20px;
   }
}
