ul.vertical-nav {
   padding: 0;
   margin: 0;
}
ul.vertical-nav a {
   color: #fff;
   list-style-type: none;

   font-size: var(--text-size-2);
   text-decoration: none;
   transition: color 300ms;
}
ul.vertical-nav a:hover {
   color: #fffc;
   transition: 300ms;
}
ul.vertical-nav a.active:hover {
}
ul.vertical-nav a.active {
   color: var(--blue-accent);
}
ul.vertical-nav a.active li {
   background-color: var(--blue-accent);
   color: #000;
   font-weight: 500;
}
ul.vertical-nav a li {
   padding: 14px 30px;
   border-bottom: 1px solid #fff1;
}

@media only screen and (max-width: 900px) {
   ul.vertical-nav {
      display: flex;
      background-color: #fff1;
   }
   ul.vertical-nav a {
      font-size: 1em;
      flex-grow: 1;
   }
   ul.vertical-nav a.active:hover {
      color: #000;
   }
   ul.vertical-nav a.active {
      color: #000;
      font-weight: 500;
   }
   ul.vertical-nav a.active li {
      background-color: var(--blue-accent);
   }
   ul.vertical-nav a li {
      display: inline-block;
      padding: 10px 10px;
      width: 100%;
      text-align: center;
      border-bottom: none;
   }
}
