body {
  margin: 0;
  font-family: "JetBrains Mono";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #292f36;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 0 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p.light-text {
  color: #ffffffd4;
  padding-bottom: 20px;
}

h1 {
  font-size: 1.25em;
  color: #fffe;
  border-bottom: 1px solid #4ecdc4;
  padding: 10px 10px 20px 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h3.section-header {
  color: #ff6b6b;
  font-size: 1.563em;
  transition: 300ms;
  margin-bottom: 30px;
}

div.sub-section-links {
  padding-bottom: 30px;
  border-bottom: 1px dashed #fff1;
  margin-bottom: 30px;
  word-wrap: wrap;
}

div.sub-section-links a {
  text-decoration: none;
  font-size: 1em;
  padding: 12px 30px;
  /* border-bottom: 5px solid #292f36; */
  transition: border-bottom 300ms;
  background-color: #ffffff0a;
  color: #fffd;
  display: inline-block;
}
div.sub-section-links a.active {
  color: #000;
  background-color: #4ecdc4;
}
div.sub-section-links a:not(.active):hover {
  /* border-bottom: 5px solid #4ecdc4; */
  color: #fff;
  background-color: #ffffff05;
  transition: 300ms;
}

/*! SkillItem.js  */

span.skill {
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  display: inline-block;
  min-width: 180px;
}
span.skill-unit {
}
span.skill-unit:hover {
  color: #4ecdc4;
  cursor: pointer;
}
span.levelBlock,
span.fillerBlock {
  font-size: 2.441em;
  line-height: 1;
  vertical-align: top;
  letter-spacing: 0.1em;
  display: inline-block;
}
span.levelBlock {
  color: #fff;
}
span.fillerBlock {
  color: #fff1;
}

/* ! NavList.js  */

ul.vertical-nav {
  padding: 0;
  margin: 0;
}
ul.vertical-nav a {
  color: #fff5;
  list-style-type: none;
  /* line-height: 1; */
  font-size: 1.563em;
  text-decoration: none;
  transition: color 300ms;
}
ul.vertical-nav a:hover {
  color: #fff9;
  transition: 300ms;
}
ul.vertical-nav a.active {
  color: #fff;
  font-size: 40px;
  line-height: 0;
  letter-spacing: 0em;
  transition: font-size 300ms;
}
ul.vertical-nav a.active li {
  padding: 36px 10px;
}
ul.vertical-nav a li {
  padding: 20px 10px;
  border-bottom: 1px solid #fff2;
  /* height: 60px; */
}

/* ! Projects.js */

div.floating-white {
  background-color: #fff;
  padding: 30px;
  box-shadow: -10px -10px 0 3px #4ecdc4;
  margin-top: 10px;
  margin-left: 10px;
  transition: 300ms;
}
div.floating-white-1 {
  max-width: 500px;
}
div.floating-white-3 {
  padding: 20px;
}
div.floating-white-3:hover {
  /* flex-basis: 20%; */
  box-shadow: 0 0 0 0;
  transition: 300ms;
}
div.projects-links a {
  text-decoration: none;
}
div.floating-white p {
  color: #292f36;
  padding: 0;
  margin: 0;
}

div.books-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
}
div.book {
  margin: 10px 0;
}
p.book-title {
  margin: 0;
  padding-bottom: 0px;
  text-transform: uppercase;
}
p.book-author {
  font-size: 0.7em;
  color: #fff5;
  margin: 0;
}
