.App {
   display: flex;
   height: 100vh;
   flex-grow: 1;
   flex-direction: column;
   gap: 20px;
}
.welcome-wrapper {
   margin-top: 20px;
   padding-right: 20px;
   line-height: 1.5;
   max-width: 800px;
}
img.profile-photo {
   width: 50px;
   height: 50px;
   margin-bottom: 5px;
   border-radius: 50px;
   opacity: 0.8;
   border: 2px solid #4ecdc4;
}

header a {
   text-decoration: none;
}

header {
   border-bottom: 1px solid #fff;
   margin-right: 20px;
   margin-left: 20px;
}

main {
   display: flex;
   flex-direction: row;
   flex-grow: 1;
   flex-shrink: 1;
   gap: 50px;
}
.main-content-area {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   overflow-x: auto;
   flex-basis: 0;
}

.section-bottom-outer {
   overflow-y: scroll;
}

.nav-list {
   flex-basis: 260px;
   min-width: 120px;
   padding-left: 20px;
   border-right: 1px solid #fff1;
   flex-shrink: 2;
}

.education-bottom {
   max-width: 850px;
}
