div.books-wrapper {
   display: flex;
   flex-wrap: wrap;
   max-width: var(--standard-width);
   gap: 10px;
}
div.books-wrapper div {
   padding: 10px 20px;
   border-radius: 4px;
   background-color: #fff1;
}
div.books-wrapper div p:first-of-type {
   margin: 0;
   font-size: 1em;
   padding-bottom: 0px;
   text-transform: capitalize;
}
div.books-wrapper div p:last-of-type {
   font-size: 0.8em;
   font-weight: var(--thin-text);
   color: #fffa;
   margin: 0;
}
