.faq-wrapper {
   padding: 20px 30px;
   line-height: 1.66;
}
.faq-wrapper > div {
   border-bottom: 1px dashed #fff1;
   max-width: 550px;
}
.question {
   margin-bottom: 0px;
   font-size: 1em;
   font-weight: 500;
   color: #fff;
}
.answer {
   font-weight: 400;
   color: #fff8;
   font-size: 0.8em;
   margin-top: 0px;
   margin-bottom: 20px;
}
@media only screen and (max-width: 900px) {
   .faq-wrapper {
      padding: 10px;
   }
}
