.faq-wrapper {
   padding: 20px 0px;
   line-height: 1.66;
}
.faq-wrapper > div {
   border-bottom: 2px dashed #fff2;
   padding: 10px 30px;
   max-width: 800px;
}
.question {
   margin-bottom: 20px;
   font-size: 1.25em;
   font-weight: 500;
   color: #fff;
}
.answer {
   white-space: pre-line;
   font-weight: 200;
   color: #fffc;
   line-height: 1.7;
   font-size: 1em;
   margin-top: 0px;
   margin-bottom: 30px;
}
@media only screen and (max-width: 900px) {
   .faq-wrapper {
      padding: 10px;
   }
}
