.institution-list > div {
   flex: 1 1 190px;
   min-width: 160px;
   max-width: 260px;
   padding: 0px 5px;
   margin-right: 0px;
   display: flex;
   justify-content: space-between;
   height: 90px;
   position: relative;
   border-radius: 10px;
   background-color: #fff;
   box-shadow: 0px 0px 10px 0px #000;
   font-size: 1em;
   margin-top: 3px;
   opacity: 0.9;
}

.institution-list {
   display: flex;
   max-width: 750px;
   gap: 15px;
}
.institution div .name {
   color: #000;
   padding: bottom 0;
   margin-bottom: 0;
   font-size: 0.8em;
   font-weight: 500;
}
.institution div .subtitle {
   color: #0008;
   font-size: 0.8em;
   margin-top: 0px;
   font-weight: 200;
}
.education-wrapper {
   padding: 10px 30px;
}

.education-wrapper .description-outer {
   max-width: 750px;
   padding-top: 10px;
   font-weight: 400;
   line-height: 1.66;
   font-size: 0.8em;
   color: #fffc;
}
.education-wrapper .description-outer p {
   margin-bottom: 20px;
}
.education-wrapper .description-outer p a {
   color: var(--blue-accent);
   text-decoration: none;
   font-weight: 500;
}
.education-wrapper .description-outer p a:hover {
   text-decoration: underline;
}

.education-wrapper .description-outer h3 {
   margin: 0;
   margin-bottom: 15px;
   border-bottom: 1px solid #fffc;
   color: #fffe;
   padding-bottom: 5px;
   font-weight: 500;
   padding-top: 10px;
}
.education-wrapper .description-outer ul {
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
   padding: 0;
   margin: 0;
   margin-bottom: 20px;
   margin-top: 20px;
}
.education-wrapper .description-outer ul li {
   list-style-type: none;
   background-color: #fff1;
   font-weight: 500;
   color: #fffe;
   border-radius: 5px;
   display: inline-block;
   padding: 5px 15px;
}

@media only screen and (max-width: 900px) {
   .education-wrapper {
      padding: 0px;
   }
   .institution-list {
      flex-wrap: wrap;
   }
}
