div.online-institutions {
   display: flex;
   max-width: var(--standard-width);
}
div.online-institutions .floating-white-institution {
   margin-right: 15px;
}
div.floating-white {
   background-color: #fff;
   padding: 30px;
   font-size: 1.25em;
   line-height: 1.5;
   box-shadow: -8px -8px 0 0px var(--blue-accent);
   margin-top: 10px;
   margin-left: 10px;
   margin-top: 30px;
   transition: 300ms;
   overflow: hidden;
}

div.floating-white-institution,
div.floating-white-education {
   background-color: #fff;
   box-shadow: 0px 0px 10px 0px #000;
   font-size: 1em;
   margin-top: 3px;

   opacity: 0.9;
}

div.floating-white-institution {
   flex: 1 1 190px;
   min-width: 160px;
   max-width: 260px;
   padding: 0px 5px;
   margin-right: 0px;
   display: flex;
   justify-content: space-between;
   height: 120px;
   position: relative;
}
div.floating-white-education {
   padding: 10px 25px;
   color: #000;
   font-weight: 300;
   line-height: 1.5;
   margin-top: 30px;
   transition: 300ms;
   overflow: hidden;
}

.institution-list {
   display: flex;
   gap: 20px;
}
.education-wrapper {
   padding: 20px 40px;
}
.education-wrapper .description-outer {
   max-width: 850px;
   padding-top: 10px;
   font-weight: 400;
   line-height: 2;
   font-size: 0.8em;
   color: #ddd;
}
.education-wrapper .description-outer p {
   margin-bottom: 20px;
}
.education-wrapper .description-outer p a {
   color: var(--blue-accent);
   text-decoration: none;
   font-weight: 500;
}
.education-wrapper .description-outer p a:hover {
   text-decoration: underline;
}

.education-wrapper .description-outer h3 {
   margin: 0;
   margin-bottom: 10px;
   border-bottom: 1px solid #fffc;
   color: #fffe;
   padding-bottom: 5px;
   font-weight: 500;
}
.education-wrapper .description-outer ul {
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
   padding: 0;
   margin: 0;
   margin-bottom: 20px;
}
.education-wrapper .description-outer ul li {
   list-style-type: none;
   background-color: #fff1;
   font-weight: 500;
   color: #fffe;
   border-radius: 5px;
   display: inline-block;
   padding: 5px 15px;
}
