h3.section-header {
   color: var(--blue-accent);
   font-size: 1.25em;
   padding-right: 40px;
   margin-top: 10px;
   margin-bottom: 9px;
   vertical-align: middle;
   transition: 300ms;
   font-weight: 500;
   display: inline-block;
   white-space: nowrap;
}
div.section-top {
   border-bottom: 1px solid #fff1;
   padding: 12px 10px 8px 30px;
   display: flex;
}
div.sub-section-links {
   padding: 0px 0;
   gap: 10px;
   display: flex;
}

div.sub-section-links a {
   text-decoration: none;
   font-size: 0.8em;
   font-weight: 400;
   text-align: center;
   flex-shrink: 1;
   flex-basis: 0;
   flex-grow: 1;
   white-space: nowrap;
   padding: 10px 20px;
   height: fit-content;
   /* flex: 0 1 fit-content; */
   /* box-shadow: 0px 0px 4px 0 var(--blue-accent);*/
   border: 1px solid #fff1;
   margin-bottom: 0px;
   border-radius: 4px;
   transition: background-color 300ms;
   /*    background-color: #ffffff05; */
   color: #fffa;
}
div.sub-section-links a.active {
   color: var(--lightest-text);
   border-bottom: 5px solid var(--blue-accent);
   padding-bottom: 10px;
   transition: 200ms;
   font-weight: 400;
   border-radius: 0 0 5px 5px;
}
div.sub-section-links a:not(.active):hover {
   border-bottom: 3px solid var(--blue-accent);
   padding-bottom: 10px;
   color: var(--lightest-text);
   transition: 200ms;
}
@media only screen and (max-width: 1000px) {
   div.sub-section-links a {
      font-size: 0.8em;
   }
}
.section-bottom {
   flex-grow: 1;
   flex-basis: 0;
   padding-right: 30px;
   padding-bottom: 30px;
   padding-top: 2px;
   padding-left: 12px;
   display: flex;
   flex-direction: column;
   overflow-x: hidden;
}
