.skills-wrapper {
   padding: 30px 30px 20px 30px;
   column-count: 2;
   column-fill: auto;
   column-gap: 30px;
   height: 100%;
   align-content: flex-start;
   width: fit-content;
   box-sizing: border-box;
}
@media only screen and (max-width: 1550px) {
   .skills-wrapper {
      column-count: auto;
   }
}
.level-fraction {
   color: #fff5;
   font-size: 0.8em;
   padding-left: 10px;
}

.skill-outer-outer {
   padding: 8px 0 0 0;
}
.skill-div {
   display: flex;
   align-items: center;
   padding: 0px 20px;
}
.skill-div-outer {
   /* display: flex; */
   box-sizing: border-box;
   /* flex-direction: column; */
   border-radius: 10px;
   transition: 500ms;
   max-width: fit-content;
   break-inside: avoid;
   cursor: pointer;

   background-color: #ffffff05;
   box-shadow: 0 0 5px 0 #0005;
}
.skill-div-outer-open {
   background-color: #ffffff05;
   box-shadow: 0 0 10px 0 var(--blue-accent);
   width: min-content;
   padding-bottom: 20px;
}
.skill-div-outer-closed {
   border: 1px solid #ffffff05;
}

.skill-div-outer-closed:hover {
   box-shadow: 0px 0px 5px var(--blue-accent);
   background-color: #ffffff05;
   transition: 300ms;
}
.skill-div-outer-closed:hover span.levelBlock {
   color: var(--lightest-text);
}

.skill-info-div {
   padding: 5px 20px 0px 20px;
   font-size: 0.8em;
   color: #fffc;
   line-height: 1.66;
   font-weight: 400;
   transition: 500ms;
}
@media only screen and (max-width: 1000px) {
   .skill-info-div {
      font-size: 0.8em;
      padding: 10px 10px 5px 10px;
   }
}

.skill-info-button {
   padding-left: 25px;
   font-size: 0.8em;
   width: 65px;
   text-align: center;
   text-transform: uppercase;
}
.skill-info-button-open {
   font-size: 1em;
}
.skill-info-button-closed {
   color: #fff9;
}
.skill-div-outer:hover .skill-info-button-closed {
   color: var(--lightest-text);
}

div.skill-closed {
   display: none;
}

div.baseskills-info,
div.extra-credit {
   max-width: var(--standard-width);
}
span.skill {
   font-weight: 300;
   display: inline-block;
   min-width: 110px;
   padding-right: 20px;
}
@media only screen and (max-width: 900px) {
   span.skill {
      font-size: 1em;
   }
}
span.skill-closed {
   color: #fffe;
}
span.skill-open,
span.skill-closed:hover {
   color: var(--lightest-text);
}
span.levelBlock,
span.fillerBlock {
   font-size: 2.441em;
   letter-spacing: 0.15em;
   margin-top: 20px;
   display: inline-block;
   line-height: 1;
}
@media only screen and (max-width: 900px) {
   span.levelBlock,
   span.fillerBlock {
      font-size: 1.563em;
   }
}
span.levelBlock {
   color: #fff9;
}
span.fillerBlock {
   color: #fff1;
}
span.levelBlock-open {
   color: var(--lightest-text);
}
.skills-wrapper .description-outer {
   padding: 20px 30px 1px 20px;
   width: 590px;
   box-sizing: border-box;
   font-weight: 500;
   line-height: 1.66;
   margin-top: 5px;
   color: #000;
   box-shadow: 0 0 5px 0 #0005;
   background-color: #fffc;
   border-radius: 5px;
   font-size: 0.8em;
   margin-bottom: 20px;
}
.skills-wrapper .description-outer p {
   margin-top: 0;
   margin-bottom: 20px;
}

@media only screen and (max-width: 900px) {
   .skills-wrapper {
      padding: 0;
      /* display: flex;
      flex-direction: column; */
      padding: 5px;
   }
   .level-fraction {
      display: none;
   }
   .skill-info-button {
      display: none;
   }
   .skill-div-outer {
      max-width: none;
   }
   .skill-div-outer-open {
      width: fit-content;
   }
   .skills-wrapper .description-outer {
      width: fit-content;
      padding: 10px 15px;
      margin-bottom: 5px;
   }
   .skills-wrapper .description-outer p:last-child {
      margin-bottom: 0;
   }
}
